/*main header*/
.mainheader{width:970px;}
h1{
	width: 200px;
	background: #ffffff;
	border-color: #cccccc;
	border-style: solid;
	border-color: black;
	float: left;
	margin-left:100px;
}
.miniheader{
	float:right;
	margin: 30px 5px 5px 0px;
	border-color:#cccccc;
}
/*body*/
body{
	
}
/*main article*/
.aboutme{
	width: 650px;
	float:left;
	margin-top: 20px;
	margin-left:-208px;
	border-style: solid;
	border-color: #dddddd;

}
/*aside*/
aside{
	float: right;
	border-style: solid;
	border-color: #dddddd;
	width: 270px;
	text-align: center;
	margin-top:20px;

}
	
/*footer*/

/*profile image*/
.Portfolioimg{
	width: 160px;
	height: 160px;
	float:left;
	padding-right: 20px;
}
/*icons*/
a img{
	position:relative;
	margin-left:5px;

	height: 50px;
	width: 50px;
	float:left;
}
/*footer*/
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #666666;
	text-align: center;
	color: #ffffff;
}
/*porfolio images*/
img{
	height: 100px;
	height: 100px;
}

/*form*/
form{
	float:left;
}

