body {
	background-image: url("concrete-texture.png");
}
.content{
	width: 960px;
	float:center;

}

h2{
	background: #4aaaa5;
	color:#ffffff;
	border-color: #dddddd;
	float;left: 
	margin-left: 50px;
}
h4{
	float:right;
}